<div class="banner">
    <div class="home-image">
        
        <div id="main-banner-image">
            <a class="banner-image" href="">
                <img alt="" class="left-banner-image" src="{{ site.baseurl }}/assets/images/publications/"/>
                <span id="left-banner-image-title" class="banner-image-title"></span>
            </a>
        </div>

        <div id="top-right-banner-image">
            <a class="banner-image" href="">
                <span id="top-right-banner-image-title" class="banner-image-title"></span>
                <img alt="" class="top-right-banner-image" src="{{ site.baseurl }}/assets/images/publications/">
            </a>
        </div>

        <div id="bottom-right-banner-image">
            <a class="banner-image" href="">
                <img alt="" class="bottom-right-banner-image" src="{{ site.baseurl }}/assets/images/publications/">
                <span id="bottom-right-banner-image-title" class="banner-image-title"></span>
            </a>
        </div>

        <script>
            publications.sort(function () {
                return .5 - Math.random();
            });

            var i = 0;
            ["#main-banner-image", "#top-right-banner-image", "#bottom-right-banner-image"].forEach(function (id) {

                var pub = publications[i];
                i++;
                var bannerImg = document.querySelector(id + " img");
                bannerImg.alt = pub.shortname;
                bannerImg.src += pub.image_large;

                var bannerLink = document.querySelector(id + "  a")
                bannerLink.href = pub.url;
                
                // // shorten title of too long
                // var titleLength = -1;
                // if(i == 1){
                //     titleLength = 66;
                // }else{
                //     titleLength = 30;
                // }
                // if(pub.title.length > titleLength){
                //     pub.title = pub.title.substring(0, titleLength) + "...";
                // }
                
                var bannerText = document.querySelector(id + " span")
                bannerText.innerText = pub.title;
            });

        </script>
    </div>
</div>
