<div class="box techniqueCard">
        <article class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img src="" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <h4><span>On Node/Edge Encoding</span>  
                    <span class="icon has-text-info tooltip is-tooltip-multiline infoTooltip" data-tooltip="Description">
                            <i class="fas fa-info-circle"></i>
                          </span>
                    <div class="tags has-addons is-pulled-right is-inline-flex">
                      <span class="tag is-large totalScore"></span>
                      <!-- <span class="tag is-large has-text-success is-pulled-left"> </span>  -->
                      <!-- <i class="fas fa-star fa-sm"></i>  <i class="fas fa-star fa-sm"></i> <i class="fas fa-star-half-alt fa-sm"></i> -->
                    </div></h4>
                
                <!-- <p>
                  <span class="icon has-text-info tooltip" data-tooltip="Description">
                    <i class="fas fa-info-circle"></i>
                  </span> 
                  <span class ="techniqueDescription"> </span><a class = "moreLink">More...</a>
                </p> -->
  
                <p class = 'scoreThree'>
                  <span class="icon star tooltip" data-tooltip="Optimized for">
                    <i class="fas fa-star"></i>

                  </span>  <span class ="optimal"></span>
                
                    <!-- <p class='optimalTags'>
                        <span class="tag is-success  ">Large <br></span>
                        <span class="tag is-success  ">Several Node Attr <br></span>
                        <span class="tag is-success  ">Some other thing <br></span> 
                    </p> -->
                </p>

                <p class = 'scoreTwo'>
                        <span class="icon has-text-success tooltip" data-tooltip="Supports">
                          <i class="fas fa-check-square"></i>
                        </span>  <span class ="good"></span>
                      
                          <!-- <p class='goodTags'></p> -->
                      </p>
  
                <p class = 'scoreOne'>
                  <span class="icon has-text-warning tooltip" data-tooltip="Weaknesses">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span> <span class ="adequate"> </span>
  
                  <!-- <p class='adequateTags'> </p> -->
                </p>
  
                <p class = 'scoreZero'>
                  <span class="icon has-text-danger tooltip" data-tooltip="Limitations">
                    <i class="fas fa-ban"></i>
                  </span> <span class ="bad"></span>
                  
                  <!-- <p class="badTags"></p> -->
  
                </p>
                <!-- </nav> -->
                <br>
              </p>
            </div>
  
          </div>
        </article>
      </div>