<div class="box techniqueCard">
        <article class="media">
          <div class="media-left">
            <figure class="image is-96x96">
              <img src="" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <h4><span>On Node/Edge Encoding</span> 
                    <div class="tags has-addons is-pulled-right is-inline-flex">
                      <span class="tag is-large has-text-success totalScore"></span>
                      <!-- <span class="tag is-large has-text-success is-pulled-left"> </span>  -->
                      <!-- <i class="fas fa-star fa-sm"></i>  <i class="fas fa-star fa-sm"></i> <i class="fas fa-star-half-alt fa-sm"></i> -->
                    </div></h4>
                
                <p>
                  <span class="icon has-text-info tooltip" data-tooltip="Description">
                    <i class="fas fa-info-circle"></i>
                  </span> 
                  <span class ="techniqueDescription"> </span><a class = "moreLink">More...</a>
                </p>
  
                <p>
                  <span class="icon has-text-success tooltip" data-tooltip="Strengths">
                    <i class="fas fa-check-square"></i>
                  </span>  <span class ="techniqueStrengths"></span>
                
                    <p class='strengthTags'>
                        <!-- <span class="tag is-success  ">Large <br></span>
                        <span class="tag is-success  ">Several Node Attr <br></span>
                        <span class="tag is-success  ">Some other thing <br></span> -->
                      
                    </p>
                </p>
  
                <p>
                  <span class="icon has-text-warning tooltip" data-tooltip="Weaknesses">
                    <i class="fas fa-exclamation-triangle"></i>
                  </span> <span class ="techniqueWeaknesses"> </span>
  
                  <p class='weaknessTags'>
                      <!-- <span class="tag is-warning  ">Trees <br></span>
                      <span class="tag is-warning  "> Few Node Attr <br></span> -->
                  </p>
                </p>
  
                <p>
                  <span class="icon has-text-danger tooltip techniqueLimitations" data-tooltip="Limitations">
                    <i class="fas fa-ban"></i>
                  </span> <span class ="techniqueLimitations"></span>
                  
                  <p class="limitationTags">
                      <!-- <span class="tag is-danger  ">Edge Attributes <br></span> -->
                  </p>
  
                </p>
                <!-- </nav> -->
                <br>
              </p>
            </div>
  
          </div>
        </article>
      </div>