<div class="box techniqueCard">

  <div class="columns">
    <div class="column is-narrow">
      <div class="box" id="mini_wizard_panel">

      </div>
    </div>
    <div class="column rec ">
      <div class="media-content">
        <div class="content">
          <p>
            <h4>
              <div class=" is-pulled-right is-inline-flex">
                <figure class="image is-64x64">
                  <img src="" alt="Image">
                </figure>
              </div>
              <div class="tags has-addons is-inline-flex">
                <span class="tag is-medium totalScore"></span>
              </div>
              <span class='techniqueTitle'></span>
            </h4>

            <p>
              <span class="icon has-text-info tooltip" data-tooltip="Description">
                <i class="fas fa-info-circle"></i>
              </span>
              <span class="techniqueDescription"> </span><a class="moreLink"> More...</a>
            </p>

            <p class='scoreThree'>
              <span class="icon score-three tooltip" data-tooltip="Optimized for">
                <i class="fas fa-star"></i>

              </span> <span class="optimal"></span>
              <p class='threeTags'> </p>
            </p>

            <p class='scoreTwo'>
              <span class="icon score-two tooltip" data-tooltip="Supports">
                <i class="fas fa-check-square"></i>
              </span> <span class="good"></span>

              <p class='twoTags'></p>
            </p>

            <p class='scoreOne'>
              <span class="icon score-one tooltip" data-tooltip="Weaknesses">
                <i class="fas fa-exclamation-triangle"></i>
              </span> <span class="adequate"> </span>

              <p class='oneTags'> </p>
            </p>

            <p class='scoreZero'>
              <span class="icon score-zero tooltip" data-tooltip="Limitations">
                <i class="fas fa-ban"></i>
              </span> <span class="bad"></span>

              <p class="zeroTags"></p>

            </p>
            <!-- </nav> -->

          </p>
        </div>

      </div>
    </div>
  </div>
</div>
