<article class="publication-content-left">
        <form id = 'wizard_panel_default'>
          <h1>Size</h1>
            <group class="inline-radio">
              <div><input type="radio" name="group1" category = 'size' label='small'><label>Small</label></div>
              <div><input type="radio" name="group1" category = 'size'  checked label='medium'><label>Medium</label></div>
              <div><input type="radio" name="group1" category = 'size' label='large'><label>Large</label></div>
            </group>
            <h1>Type</h1>
            <group class="inline-radio">
              <div><input type="radio" name="group2" category = 'type' label='sparse'><label>Sparse</label></div>
              <div><input type="radio" name="group2" category = 'type' label='dense'><label>Dense</label></div>
              <div><input type="radio" name="group2"category = 'type' label='layered'  checked><label>Layered</label></div>
              <div><input type="radio" name="group2" category = 'type' label='trees'><label>Trees</label></div>
            </group>
            <h1>No. of Node Attributes</h1>
            <group class="inline-radio">
              <div><input type="radio" name="group3" category = 'node_attr' label='few' checked><label>Few</label></div>
              <div><input type="radio" name="group3" category = 'node_attr' label='several' ><label>Several</label></div>
            </group>
            <h1>Types of Node Attributes</h1>
            <group class="inline-radio">
              <div><input type="radio" name="group4" category = 'node_attr' label='homog'><label>Homogeneous</label></div>
              <div><input type="radio" name="group4" category = 'node_attr' label='hetero' checked><label>Heterogenous</label></div>
            </group>
            <h1>No. of Edge Attributes</h1>
            <group class="inline-radio">
                <div><input type="radio" name="group5" category = 'edge_attr' label='few' checked><label>Few</label></div>
                <div><input type="radio" name="group5" category = 'edge_attr' label='several'><label>Several</label></div>
              </group>
              <h1>Types of Edge Attributes</h1>
              <group class="inline-radio">
                <div><input type="radio" name="group6" category = 'edge_attr' label='homog' checked><label>Homogeneous</label></div>
                <div><input type="radio" name="group6" category = 'edge_attr' label='hetero' ><label>Heterogenous</label></div>
              </group>

          
            <h1>Network Structures</h1>
            <group class="stacked-radio">
                <div><input type="radio" name="group7" category = 'structure' label='single' checked><label>Single Entity</label></div>
                <div><input type="radio" name="group7" category = 'structure' label='neighbors' ><label>Neighbors</label></div>
                <div><input type="radio" name="group7" category = 'structure' label='paths'  ><label>Paths</label></div>
                <div><input type="radio" name="group7" category = 'structure' label='clusters' ><label>Clusters</label></div>
                <div><input type="radio" name="group7" category = 'structure' label='networks' ><label>Networks</label></div>
              </group>
            </form>

      </article>