<!DOCTYPE html>
<html>

<head>
    {% include head_default.html %}

    <!-- Here we write the publications into the publications javascript variable -->

    {% capture publications %}
    [
    {% for publication in site.publications %}

    {% if publication.personal  %}
    {% elsif publication.image_large and publication.year > 2017 and publication.type == "paper"%}
    {
    "title"    : "{{ publication.title }}",
    "shortname" : "{{ publication.shortname }}",
    "url"      : "{{ publication.url }}",
    "image_large"     : "{{ publication.image_large }}",
    }
    {% if forloop.last %}{% else %},{% endif %}
    {% endif %}
    {% endfor %}
    ]
    {% endcapture %}

    <script>
    var publications = {{ publications }}
    </script>
</head>

<body>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
        <script src="{{site.baseurl}}/scripts/vdl_logo_script.js"></script>

<div>
{% include header.html %}

          <section class="section">

                <div class="tile is-ancestor">
                        <div class="tile is-vertical is-12">
                          <div class="tile">
                            <div class="tile is-parent is-vertical">
                              <article class="tile is-child notification is-primary">
                                <p class="title">About</p>
                                <p class="subtitle">This is a companion website for the STAR Report on Multivariate Network Visualization Techniques. </p>
                              </article>
                              <article class="tile is-child notification is-warning">
                                <p class="title">Read the STAR</p>
                                <p class="subtitle">The STAR report can be found <a href="https://vdl.sci.utah.edu/publications/">here</a>.</p>
                              </article>
                            </div>
                            <div class="tile is-parent">
                              <article class="tile is-child notification is-info">
                                <p class="title">Use the Wizard</p>
                                <p class="subtitle">Technique recommendations to fit your needs! 
                                    
                                    <br/><br/>
                                    Navigate to the wizard tab (or click <a href='/mvnv/wizard'>here</a>) and select your specific network characteristics -- such as size and network type --,
                                 your topological structures of interest -- such as paths or clusters --, and receive technique recommendations that are best suited to your selection. Enjoy! </p>
                              </article>
                            </div>
                          </div>
                          <div class="tile is-parent">
                            <article class="tile is-child notification has-background-white-bis">
                              <p class="title"> Learn about the techniques </p>
                              <p class="subtitle">Click on a layout or operation to learn more!</p>
                              <!-- <figure>
                                    <img src="{{ site.baseurl }}/assets/images/taxonomy.png"/>
                                  </figure> -->

                                  <div id='typologySVG' ></div>
                              <div class="content">
                                <!-- Content -->
                              </div>
                            </article>
                          </div>
                        </div>

                          </article>
                        </div>
                      </div>
          
                

              </section>
  



    {% include footer.html %}
</div>

{% if site.use_analytics == true %}
{% include google_analytics.html %}
{% endif %}

<script>

async function loadSVG() {
      let path = '{{ site.baseurl }}/assets/images/typology.svg';
      return await d3.text(path)
      }


    loadSVG().then(logo => {
     let div = d3.select("#typologySVG").html(logo);

    //  div.select('svg').attr('viewBox',"0 0 240 100");

     d3.selectAll("[id^='hoverBox']") 
     .attr('class','tooltip')
    .attr('data-tooltip','hover tooltip')
    //  .append('a')
    //  .attr('href','google.com')
     .on('mouseover',function(d){
         d3.select(this).style('opacity',.5);
     })
     .on('mouseout',function(d){
         d3.select(this).style('opacity',0)
     })
     .on('click',function(d){
      
      let groupId = d3.select(this.parentNode).attr('id');
      console.log('groupId is ', groupId);

        if (groupId.includes('label')){
          window.location = '/mvnv/techniques/';
        } else  if (groupId.includes('Layer_1')){
            //do nothing
        } else {
          window.location = '/mvnv/techniques/' + groupId + '/';
        }
     });


     div.select('#adjmatrix')
     .on('click',(d)=>console.log('moused over adj_matrix'));

     
        console.log(div.select('#quilts').size())
  });

  
  </script>

</body>
</html>