---
layout: default
---

<div class="banner"> 
</div>

  <article class="publications-content">

    <h1>Preprints</h1>

    {% for publication in site.publications reversed %}
      {% if publication.personal %}
      {% elsif publication.type == "preprint" %}
        {% include publication_list_entry.html %}
      {% endif %}
    {% endfor %}


    <h1>Peer-Reviewed Journal and Conference Papers </h1>
    
    {% for publication in site.publications reversed %}
      {% if publication.personal %}
      {% elsif publication.type == "paper" %}
        {% include publication_list_entry.html %}
      {% endif %}
    {% endfor %}


    <h1>Commentary</h1>

    {% for publication in site.publications reversed %}
      {% if publication.personal %}
      {% elsif publication.type == "commentary" %}
        {% include publication_list_entry.html %}
      {% endif %}
    {% endfor %}

    <h1>Selected Posters</h1>
    
    {% for publication in site.publications reversed %}
      {% if publication.personal %}
      {% elsif publication.type == "poster" %}
        {% include publication_list_entry.html %}
      {% endif %}
    {% endfor %}

    <h1>Dissertations and Theses</h1>

    {% for publication in site.publications reversed %}
      {% if publication.personal %}
      {% elsif publication.type == "thesis" %}
        {% include publication_list_entry.html %}
      {% endif %}
    {% endfor %}

    <!-- <h1>Commentaries, Editorials, Book Chapters & Published Abstracts </h1>-->


  </article>
