---
layout: default

categories:
  Size: 
    <!-- order: 1 -->
    keys:
      - size
  Type: 
    <!-- order: 2 -->
    keys:
      - type
  Node Attributes:
    <!-- order: 3 -->
    keys: 
      - node_attr_size 
      - node_attr_type
  Edge Attributes: 
    <!-- order: 4 -->
    keys:
      - edge_attr_size 
      - edge_attr_type
  Structures : 
    <!-- order: 5 -->
    keys:
      - structure
---
<section class="section">
  <!-- <div class="publications-content"> -->


  <div class="columns">

      <!-- <div class="column is-full"> -->
    <div class="column is-three-quarters">

      <header id="title" class="publication-title">
        <h1>{{ page.title | remove: "| Vis Design Lab" }}
          <div class="media-right is-pulled-left">
            <figure class="image is-96x96" style="margin-top:-30px; margin-right:10px">
              <img src="{{ site.baseurl }}/assets/images/techniques/color_icons/{{ page.image }}"
                alt="Placeholder image"> </figure>
          </div>
        </h1>
      </header>

      <!-- <div class="card-content"> -->
      <div class="content">


        <p>
          <span class="icon has-text-info tooltip" data-tooltip="Description">
            <i class="fas fa-info-circle"></i>
          </span>
          <span class="techniqueDescription"> </span> {{page.description}}
        </p>

        <p class='scoreThree'>
          <span class="icon score-three tooltip" data-tooltip="Optimized for">
            <i class="fas fa-star"></i>

          </span> <span class="optimal"> {{page.optimal}}</span>
        </p>

        <p class='scoreTwo'>
          <span class="icon score-two tooltip" data-tooltip="Supports">
            <i class="fas fa-check-square"></i>
          </span> <span class="good">{{page.good}}</span>

          <p class='twoTags'></p>
        </p>

        <p class='scoreOne'>
          <span class="icon score-one tooltip" data-tooltip="Weaknesses">
            <i class="fas fa-exclamation-triangle"></i>
          </span> <span class="adequate"> {{page.adequate}}</span>

          <p class='oneTags'> </p>
        </p>

        {% if page.bad%}
        <p class='scoreZero'>
          <span class="icon score-zero tooltip" data-tooltip="Limitations">
            <i class="fas fa-ban"></i>
          </span> <span class="bad">{{page.bad}}</span>

          {% endif %}


      </div>

      <div class="columns">
        <div class="column is-full">

          <h1>Examples Figures from the Literature</h1>
          <div class="card-content">

            {% for example in page.examples %}
            {% assign fileName = example | replace: ":", "-" %}



            <div class="card column is-narrow">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="{{ site.baseurl }}/assets/images/techniques/examples/{{fileName}}.png"
                    alt="Placeholder image">
                </figure>
              </div>
                <div class="content" style="margin-top:5px; float:right">

                  {% for paper in site.data.references.items %}
                  {% if example contains paper.citekey%}
                  {% assign firstAuthor = paper.creators.first %}
          
                  <em>
  
                      {{ firstAuthor.lastName}}

                      {% if paper.creators.size > 1 %}
                      et al.
                      {% endif %}

                      {% if paper.creators.size == 1 %}
                      ,&nbsp;{{firstAuthor.firstName | slice: 0}}.
                      {% endif %}
                     

                      {{paper.date}}

            
                  </em>

                  {% endif %}
                  {% endfor %}
                </div>
            </div>

            {% endfor %}
          </div>


        </div>
      </div>

      <!-- </div> -->
    
    </div>

    <div class="column is-one-fifth ">

        <div class="box">
          <h1>Technique Scores</h1>
          <svg id='technique_scores' , class='scores'> </svg>
        </div>
      </div>

      
  
  
      

      <!-- </div> -->


  </div>

  <div class="column is-full">

      <!-- main markdown content -->
      {{ content }}

      <h1>Example Papers</h1>

      <!-- Sort refs to show up from oldest to newest -->
      {% assign sorted_refs = site.data.references.items | sort: "date" %}

      {% for paper in sorted_refs %}
      {% for ref in page.papers %}
      {% if ref == paper.citekey%}
      <ul>
        <div class="citation">
          <p>
            {% for creator in paper.creators %}
            {% if creator.creatorType == "author" %}
            <!-- Only use initial of first Name -->
            {% assign firstName = creator.firstName | slice: 0 %}
            {{ creator.lastName }}&nbsp;{{firstName}}.,
            {% endif %}
            {% endfor %}


            <!-- <br/> -->
            <span class="paper-title">
              <b>{{paper.title}}.</b>
            </span>

            <em>{{paper.publicationTitle}}</em>
            <!-- <br/> -->

            <span class="paper-citation">


              ({{ paper.date }}),
              {% if paper.volume %}vol. {{ paper.volume }},{% endif %}
              {% if paper.issue %}no. {{ paper.issue }},{% endif %}
              {% if paper.pages %}pp. {{ paper.pages }},{% endif %}

              {% if paper.DOI %} <a href="http://dx.doi.org/{{ paper.DOI }}">doi:{{ paper.DOI }}</a>{%endif%}.


            </span>
        </div>

        </a>

      </ul>
      {% endif %}
      {% endfor %}
      {% endfor %}



    </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"></script>
<script src="{{site.baseurl}}/scripts/technique_scores.js"></script>

<script>
  let scores = JSON.parse(('{{page.scores}}'.replace(/=>/g, ':')));
  let labels = JSON.parse(('{{layout.categories}}'.replace(/=>/g, ':')));
  technique_scores(scores, labels);
</script>
