---
layout: default
---

<div class="tile is-ancestor">

    <div class="tile is-parent is-12">
      <article class="tile is-child box">
        <p class="title">Node-Link Layouts</p>
        <p class="subtitle">What they are</p>
        <div class="content">
            <figure>
              <img src="{{ site.baseurl }}/assets/images/node-link-layouts.svg">
            </figure>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
      </article>
    </div>


  </div>
  


  <article class="publications-content">

    <h1>Node Link Layouts</h1>

    {% for technique in site.techniques reversed  %}
      {% if technique.type == "node-link" %}
        {% include technique_list_entry.html %}
      {% endif %}
    {% endfor %}

    <h1>Tabular Layouts</h1>

    {% for technique in site.techniques  %}
      {% if technique.type == "tabular" %}
        {% include technique_list_entry.html %}
      {% endif %}
    {% endfor %}

    <h1>Implicit Layouts</h1>

    {% for technique in site.techniques  %}
      {% if technique.type == "implicit" %}
        {% include technique_list_entry.html %}
      {% endif %}
    {% endfor %}

    <h1>Coordinated Views</h1>

    {% for technique in site.techniques  %}
      {% if technique.type == "coordinated" %}
        {% include technique_list_entry.html %}
      {% endif %}
    {% endfor %}

  </article>

