---
layout: default

Options:
  size: 
    label: Size
    options: 
      - small
      - medium 
      - large 
  type: 
    label: Type
    options: 
      - sparse
      - dense
      - layered
      - trees 
  node_attr_size:
    label: No. of Node Attributes
    options: 
      - few
      - several
  node_attr_type:
    label: Type of Node Attributes
    options: 
      - homog
      - hetero
  edge_attr_size:
    label: No. of Edge Attributes
    options: 
      - few
      - several 
  edge_attr_type:
    label: Type of Edge Attributes
    options:  
      - homog
      - hetero
  structure: 
    label: Structures
    options:
      - single
      - neighbors
      - paths
      - clusters
      - network
---
<div class="columns">
  <div class="column is-one-third">

    <div class="box">
      <h4>Size <span class="icon tooltip is-tooltip-multiline"
          data-tooltip="Small: <100 Nodes, Medium: <200 nodes, Large: <1000 nodes?">
          <i class="fas fa-question-circle has-text-grey"></i>
        </span>
      </h4>
      <div class="tabs is-fullwidth is-toggle">
        <ul>
          <li class="is-active">
            <div>
              <a>
                <span class="tooltip is-tooltip-left"
                  data-tooltip="Networks with less than 100 nodes">Small</span>
              </a>
            </div>

          </li>
          <li>
            <a>
              <span class="tooltip is-tooltip-left" data-tooltip="Networks with less than 1000 nodes">Medium</span>
            </a>
          </li>
          <li>
            <a>
              <span class="tooltip is-tooltip-left" data-tooltip="Networks with more than 1000 nodes">Large</span>
            </a>
          </li>
        </ul>
      </div>

      <h4>Type<span class="icon tooltip" data-tooltip="Type Description">
          <i class="fas fa-question-circle has-text-grey"></i>
        </span>


      </h4>
      <div class="tabs is-fullwidth is-toggle">
        <ul>
          <li class="is-active">
            <a>
              <span>Sparse</span>
            </a>
          </li>
          <li>
            <a>
              <span>Dense</span>
            </a>
          </li>
          <li>
            <a>
              <span>Layered</span>
            </a>
          </li>

          <li>
            <a>
              <span>Trees</span>
            </a>
          </li>
        </ul>
      </div>

      <h4>No. of Node Attributes</h4>
      <div class="tabs is-fullwidth is-toggle">
        <ul>
          <li class="is-active">
            <a>
              <span>few <small>(1-10)</small></span>
            </a>
          </li>
          <li>
            <a>
              <span>several <small>(10+)</small></span>
            </a>
          </li>
        </ul>
      </div>

      <h4>Type of Node Attributes</h4>
      <div class="tabs is-fullwidth is-toggle">
        <ul>
          <li class="is-active">
            <a>
              <span>Homogeneous</span>
            </a>
          </li>
          <li>
            <a>
              <span>Heterogeneous</span>
            </a>
          </li>
        </ul>
      </div>

      <h4>No. of Edge Attributes</h4>
      <div class="tabs is-fullwidth is-toggle">
        <ul>
          <li class="is-active">
            <a>
                <span>few <small>(1-5)</small></span>
            </a>
          </li>
          <li>
            <a>
                <span>several <small>(5+)</small></span>
            </a>
          </li>
        </ul>
      </div>

      <h4>Type of Edge Attributes</h4>
      <div class="tabs is-fullwidth is-toggle">
        <ul>
          <li class="is-active">
            <a>
              <span>Homogeneous</span>
            </a>
          </li>
          <li>
            <a>
              <span>Heterogeneous</span>
            </a>
          </li>
        </ul>
      </div>

      <h4>Structures<span class="icon tooltip is-tooltip-multiline"
        data-tooltip="Small: <100 Nodes, Medium: <200 nodes, Large: <1000 nodes?">
        <i class="fas fa-question-circle has-text-grey"></i>
      </span>

      </h4>

      <div class="tabs is-fullwidth is-toggle">
        <ul>
          <li class="is-active">
            <a>
              <span>Single</span>
            </a>
          </li>
          <li>
            <a>
              <span>Neighbor</span>
            </a>
          </li>
          <li>
              <a>
                <span>Path</span>
              </a>
            </li>
            <li>
                <a>
                  <span>Cluster</span>
                </a>
              </li>
              <li>
                  <a>
                    <span>Network</span>
                  </a>
                </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="column">

    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-96x96">
            <img src="/mvnv/assets/images/techniques/icons/topology-driven.png" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <h4>On Node/Edge Encoding 
                  <div class="tags has-addons is-inline-flex">
                    <span class="tag ">Overall Score</span>
                    <span class="tag score-three "> 2.5</span>
                    <span class="tag score-three is-pulled-left"> <i class="fas fa-star fa-sm"></i>  <i class="fas fa-star fa-sm"></i> <i class="fas fa-star-half-alt fa-sm"></i></span> 
                  </div></h4>
              <p>

                            <span class="tag score-three  ">Large <br></span>
                <span class="tag score-two ">Sparse</span>
                <span class="tag score-one ">Several Node Attr.</span>
                <span class="tag score-two ">Homo. Node Attr.</span>
                <span class="tag score-three ">Few Edge Attr.</span>
                <span class="tag ">Hetero Edge Attr.</span>
<br/>

<div class="field is-grouped is-grouped-multiline">
    <div class="control">
      <div class="tags has-addons">
        <span class="tag ">Large</span>
        <span class="tag score-three"><i class="fas fa-star fa-xs"></i><i class="fas fa-star fa-xs"></i><i class="fas fa-star fa-xs"></i></span>
      </div>
    </div>
  
    <div class="control">
        <div class="tags has-addons">
          <span class="tag ">Sparse</span>
          <span class="tag score-two"><i class="fas fa-star fa-xs"></i><i class="fas fa-star fa-xs"></i></span>
        </div>
      </div>

      <div class="control">
          <div class="tags has-addons">
            <span class="tag ">Several Node Attr.</span>
            <span class="tag score-one"><i class="fas fa-star fa-xs"></i></span>
          </div>
        </div>
        
          <div class="control">
              <div class="tags has-addons">
                <span class="tag ">Homo. Node Attr.</span>
                <span class="tag score-two"><i class="fas fa-star fa-xs"></i><i class="fas fa-star fa-xs"></i></span>
              </div>
            </div>

          
      
  </div>
                

              </p>

              <p>
                <span class="icon has-text-info tooltip" data-tooltip="Description">
                  <i class="fas fa-info-circle"></i>
                </span> Topology driven layouts prioritize the topology of the network over
                the attributes of the nodes and edges. <a>More...</a>
              </p>

              <p>
                <span class="icon has-text-success tooltip" data-tooltip="Strengths">
                  <i class="fas fa-check-square"></i>
                </span> This technique is particularly good at handling small graphs, with less than 3 attributes per
                node.
              </p>

              <p>
                <span class="icon has-text-warning tooltip" data-tooltip="Weaknesses">
                  <i class="fas fa-exclamation-triangle"></i>
                </span> This technique is not very good at handling tree-like graphs.
              </p>

              <p>
                <span class="icon has-text-danger tooltip" data-tooltip="Limitations">
                  <i class="fas fa-ban"></i>
                </span> This technique does not support edge attributes.

              </p>
              <!-- </nav> -->
              <br>
            </p>
          </div>

        </div>
      </article>
    </div>



    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-96x96">
            <img src="/mvnv/assets/images/techniques/icons/hybrid.png" alt="Image">
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <h4>Hybrid</h4>
              <p>
                <span class="tag is-success ">Small</span>
                <span class="tag is-success ">Sparse</span>
                <span class="tag is-warning ">Few Node Attr.</span>
                <span class="tag is-success ">Homo. Node Attr.</span>
                <span class="tag is-danger ">Few Edge Attr.</span>
                <span class="tag is-success ">Hetero Edge Attr.</span>
              </p>


              <p>
                <span class="icon has-text-info tooltip" data-tooltip="Description">
                  <i class="fas fa-info-circle"></i>
                </span>
                Topology driven layouts prioritize the topology of the network over
                the attributes of the nodes and edges. <a>More...</a>

              </p>

              <p>
                <span class="icon has-text-success tooltip" data-tooltip="Strengths">
                  <i class="fas fa-check-square"></i>
                </span> This technique is particularly good at handling small graphs, with less than 3 attributes per
                node.
              </p>

              <p>
                <span class="icon has-text-warning tooltip" data-tooltip="Weaknesses">
                  <i class="fas fa-exclamation-triangle"></i>
                </span> This technique is not very good at handling tree-like graphs.
              </p>

              <p>
                <span class="icon has-text-danger tooltip" data-tooltip="Limitations">
                  <i class="fas fa-ban"></i>

                </span> This technique does not support edge attributes.

              </p>
            </p>
          </div>

        </div>
      </article>
    </div>
  </div>


</div>
</div>
